* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body {
    background-color: #4682B4;
    color: #FFF;
    font-family: 'Montserrat';
}

header {
    background-color:#141d35;
}

nav {
    height: 72px;
    width: 100%;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 1.3px;
    line-height: 60px;
    margin-left: 36px;
    cursor: pointer;
    font-family: 'Brush Script MT', cursive;

    span {
        color:#4169E1;
    }
}

nav ul {
    float: right;
    margin-right: 36px;
}

nav ul li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
    list-style: none;
}

nav ul li a {
    font-size: 16px;
    font-weight: 500;
    padding: 7px 13px;
    text-decoration: none;
    color: #FFF;
}

li:hover {
    a {
        color: #87CEEB;
        font-size: 17px;
        font-weight: bold;
        transition: .5s;
    }
}

li:after {
    content: '';
    margin: auto;
    display: block;
    height: .5px;
    width: 0%;
    background-color: transparent;
    transition: all 0.5s ease;
}

li:hover:after {
    width: 100%;
    background-color:#87CEEB;
}

.checkBtn {
    font-size: 1.5rem;
    color: #FFF;
    float: right;
    line-height: 60px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}



.main-content {
    width: 90%;
    margin: 20px 5%;
    padding: 20px;

    h1 {
        font-weight: bold;
    }
}

.main-content p {
    margin-top: 2%;
    line-height: 1.6;
}


footer {
    height: 100px;
    padding: 15px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141d35;
}

footer .social {
    text-align: center;
    padding-bottom: 20px;
    color: #FFF;
}

footer .social a {
    font-size: 24px;
    color: #FFF;
    width: 30px;
    height: 30px;
    display: inline-block;
    margin: 0 8px;
}

footer .social a:hover {
    opacity: 0.9;
}


footer .copyright {
    text-align: center;
    font-size: 15px;
}

/* Responsive */

@media (max-width: 952px) {
    .logo {
        font-size: 30px;
    }


}

@media (max-width: 858px) {
    .checkBtn {
        display: block;
    }

    ul {
        position: fixed;
        height: 100vh;
        width: 100%;
        background-color: #141d35;
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    #check:checked~ul {
        left: 0;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }
}